.analyse {
    background-color: rgb(255, 240, 205);
}

.divider {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    width: 99%;
}

.attachimg {
    max-width: 100%;
    height: auto;
}

.dividerEnd {
    border-bottom: 3px solid rgb(255, 255, 255);
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.containerNga {
    padding: 5px 5px 5px 5px;
    background-color: rgba(241, 182, 45, 0.4);
}

.title {
    font-size: x-large;
    font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

.header {
    font-size: medium;
}

.header .userGroup {
    display: flex;
    position: relative;
}

.header .userGroup .userName {
    display: flex;
}

.header .userGroup .registrationTime {
    position: absolute;
    transition: opacity 0.3s;
    display: flex;
    color: #9499A0;
	bottom: 0px;
    right: 0px;
}

.header .userInfo {
    display: flex;
}

.header .userInfo .rvrc {
    display: flex;
    padding: 0px 0px 0px 10px;
}

.header .userInfo .postCount {
    display: flex;
    padding: 0px 0px 0px 10px;
}

.header .userInfo .userMemberGroup {
    display: flex;
}

.header .floor {
    position: absolute;
    transition: opacity 0.3s;
    display: flex;
    color: #0a10c5;
    right: 30px;
}

.postContent {
    min-height: 50px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: Number, "汉仪文黑-65W", YS, PingFangSC-Medium, "PingFang SC", sans-serif;
}

.postTime {
    text-align: right;
    transition: opacity 0.3s;
    color: #9499A0;
}

.footer {
    display: flex;
}

.footer .voteGood {
    display: flex;
}

.footer .voteBad {
    display: flex;
    padding: 0px 0px 0px 10px;
}

.hotpost {
    font-size: medium;
    display: flex;
}

.hotpost .userName {
    display: flex;
}

.hotpost .postContent {
    display: flex;
    padding: 0px 0px 0px 10px;
}

.tietiao {
    font-size: medium;
    display: flex;
}

.tietiao .userName {
    display: flex;
}

.tietiao .content {
    display: flex;
    padding: 0px 0px 0px 10px;
}