.analyse {
    background-color: rgb(255, 240, 205);
}

.divider {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    width: 99%;
}

.dividerEnd {
    border-bottom: 3px solid rgb(255, 255, 255);
    opacity: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.container {
    padding: 5px 5px 5px 5px;
    background-color: rgba(241, 182, 45, 0.4);
}

.title {
    font-size: large;
}

.header {
    font-size: large;
}

.header .userGroup {
    display: flex;
    position: relative;
}

.header .userGroup .userName {
    display: flex;
}

.header .userGroup .registrationTime {
    position: absolute;
    transition: opacity 0.3s;
    display: flex;
    color: #9499A0;
	bottom: 0px;
    right: 10px;
}

.header .userInfo {
    display: flex;
}

.header .userInfo .rvrc {
    display: flex;
    padding: 0px 0px 0px 10px;
}

.header .userInfo .postCount {
    display: flex;
    padding: 0px 0px 0px 10px;
}

.header .userInfo .userMemberGroup {
    display: flex;
}

.content {
    font-size: large;
    display: flex;
    position: relative;    
}

.content .postContent {
    display: flex;
    min-height: 50px;
}

.content .floor {
    position: absolute;
    transition: opacity 0.3s;
    display: flex;
    color: #9499A0;
    right: 10px;
}

.content .postTime {
    position: absolute;
    transition: opacity 0.3s;
    display: flex;
    color: #9499A0;
	bottom: 0px;
    right: 10px;
}

.footer {
    font-size: large;
    display: flex;
}

.footer .voteGood {
    display: flex;
}

.footer .voteBad {
    display: flex;
    padding: 0px 0px 0px 10px;
}

.hotpost {
    font-size: large;
    display: flex;
}

.hotpost .userName {
    display: flex;
}

.hotpost .postContent {
    display: flex;
}

.tietiao {
    font-size: large;
    display: flex;
}

.tietiao .userName {
    display: flex;
}

.tietiao .content {
    display: flex;
    padding: 0px 0px 0px 10px;
}